# Python virtual environment
venv/
__pycache__/

# Docker data volumes
pg_data/

# Airflow environment file
.env

# dbt artifacts
dbt_packages/
logs/
target/
# mac files
.DS_Store
# Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
